absl-py==0.10.0
appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.2.7
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
Brotli==1.0.9
cachetools==4.1.1
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
chart-studio==1.1.0
click==8.0.3
colorama==0.4.4
cycler==0.10.0
dash==2.0.0
dash-auth==1.4.1
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
entrypoints==0.3
filelock==3.0.12
Flask==2.0.2
Flask-Compress==1.10.1
Flask-SeaSurf==0.3.1
gast==0.3.3
gunicorn==20.0.4

httplib2==0.19.0
idna==2.9
imageio==2.9.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
jsonschema==3.2.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.3.1
MarkupSafe==2.0.1
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
networkx==2.5
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pickleshare==0.7.5
pipenv==2018.11.26
plotly==5.5.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.15.6
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.4.3
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
Pyrebase==3.0.27
pyrsistent==0.17.3
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2020.1
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0

retrying==1.3.3
rsa==4.7.2

Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0
tenacity==8.0.1

termcolor==1.1.0
testpath==0.4.4
tifffile==2020.10.1
toml==0.10.2
tornado==6.0.4
traitlets==5.0.4
ua-parser==0.10.0
urllib3==1.25.9
virtualenv==20.0.20
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2

widgetsnbextension==3.5.1
wrapt==1.12.1
